@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');


.navbar-logo{
    height: 68px;
}

.nav-item{
    margin: 0px 15px;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;

}
.dropdown-menu{
    background-color: #D98BAF;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;

}
.header .navbar {
    background-color: #BF567D !important;
  }