@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&display=swap');


.navbar-logo{
    height: 80px;
}

.nav-item{
    margin: 0px 15px;
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif;

}
.dropdown-menu{
    background-color: #F7B398;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;

}
.user-icon{
    height: 80px;
    border-radius: 100%;
    border: 5px solid #ffc3ac;
    margin-right: 10px;
}
