@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;800&display=swap');

body{
    background-color:#faebf2;

    }
.navbar-cart{
        padding-top: 7px;
        height: 50px;
    }
.center-this{
        display: table;
        margin: auto;
    }

.cart-widget-quantity{
    color: #000000;
    border-radius: 100%;
    font-size: 26px;
    margin-top: 10px;
    }
.container-productos{
    background-color:#faebf2;
    display: grid;
    grid-template-columns: 1fr;
    }

.card-img-top{
    height: 100%;
    min-width: 170px;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    object-fit: cover;
    }

.cardProducto{
    padding: 4px;
    margin: 7px 5px ;
    background-color: hsl(0, 0%, 100%);
    border-radius: 12px;
    border: 1px solid hsl(212, 45%, 89%);
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    box-shadow: 0px 5px 4px 0px rgba(44, 44, 44, 0.3);
    }
.cardProducto h5{
    margin-top: 65px;
    color: #1a1a1a;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    }
.card-text{
    font-size: 19px;
    font-family: 'Outfit', sans-serif;
    margin-bottom: 0;
    }
.card-button{
    border-radius: 6px;
    padding: 20px 28px;
    background-color: #af1a60;
    box-shadow: 0px 5px 4px 0px rgba(44, 44, 44, 0.3);
    border-color: #af1a60;
    color: #faebf2;
    font-size: 20px;
    }
.card-price{
    font-size: 35px;
    margin: 15px 0px;
}
.card-button:hover{
    background-color: #d63b84;
    }
.pill-container{
    margin-top: 25px;
}
.item-pill{
    height: 25px;
}
.detail-title{
    font-size: 25px;
    }

.itemDetail{
    margin-top: 20px;
    text-align: center;
    
    }
.detail-image{
    margin-top: 25px;
    margin-left: 17%;
    height: 50vh;
    }

small{
        position: absolute;
        font-size: 11px;
        margin-top: -35px;
        margin-left: 53px;
        color: #7c7c7c;
    }
.price{
        font-weight: 500;
        background-color: #f3d1e1;
        border-radius: 8px;
        font-size: 24px;
    }
.cart-item{
        height: 30vh;
        display: grid;
        grid-template-columns: 4fr 6fr;
        width: 90%;

    }
.cart-item img{
        margin-left: -35px;
        height: 30vh;
        object-fit: cover;
    }
.cart-item-detail{
        height: 20vh;
    }
.cart-title{
        font-size: 20px;
        margin: 0;
    }
.cart-text{
        font-size: 15px;
        margin: 0;
    }

.remove-item-btn{
        margin-top: 6px;
        background-color: #a31356;
        border-radius: 6px;
        padding: 7px;
        color: #faebf2;
    }
.remove-item-btn:hover{
        background-color: #aa2e68;
        color: #d3abbd;  
    }

.total-cart{
        font-size: 30px;
        font-weight: 300;
    }

.cart-price-container{
        box-shadow: 0px 5px 4px 0px rgba(44, 44, 44, 0.3);
        border: 1px solid #d8d8d8;
        padding: 10px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 6px;
    }

.btn-finalizar{
        background-color: #13a313;
        border-radius: 6px;
        padding: 7px;
        color: #faebf2;
        margin-left: 5px;
    }

.item-count-btn{
        width: 10px;
        height: 10px;
    }

.outerline{
    box-shadow: 0px 5px 4px 0px rgba(44, 44, 44, 0.3);
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 4px;
    }
/* titulos de secciones */
.sec-title{
    font-family: 'Outfit', sans-serif;
    font-size: 33px;
    color: #181818;
}
/*seccion contacto */
.cnt-bsend{
    padding: 5px;
    background-color: #aa2e68;
    border: 1px sold #5f0b32;
    color: #e9e9e9;
    border-radius: 9px;
}
.cnt-plhdr{
    height: 150px;
}
label{
    font-family: 'Outfit', sans-serif;
    font-size: 26px;
    color: #181818;
}
/* Heading Images */
.banner-wide{
    width: 0%;
    margin-bottom: 0px;
    }
.banner-vertical{
    width: 100%;
    margin-bottom: 25px;
    }

/* Footer Section */
footer{
    background: rgb(191,86,125) !important;
    background: linear-gradient(90deg, rgb(138,128,170) 0%, rgb(100, 85, 151) 50%) !important;
    margin-top: 240px;
    padding: 25px;
    border-top: 2px solid #4e417a;
    }
.footer-logo{
    height: 70px;
    margin: auto;
    }
.grid-container{
    display: grid;
    grid-template-columns: auto;
}
.decoration-none{
    text-decoration: none;
}
.footer-link{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
}



/* Mediaqueries */
@media (min-width: 480px) {
    .detail-image{
    margin-left: 22%;}
    .footer-logo{
        margin-left: 33%;
        }
    }
    
@media (min-width: 680px) {
    .cardProducto{
        grid-template-columns: 2fr 1fr;
    }
    .footer-logo{
        margin-left: 0;
        }
    .detail-image{
        margin-left: 18px;
            height: 60vh;
        }
    .container-productos{
    grid-template-columns: 1fr 1fr ;
    }
    .banner-wide {
    width: 100%;
    margin-bottom: 25px;
    }
    .banner-vertical{
    width: 0%; 
    margin-bottom: 0px;
    }
    .cart-item{
        height: 30vh;
        display: grid;
        grid-template-columns: 3fr 7fr;
        width: 90%;

    }
    .grid-container{
        grid-template-columns: 1fr 1fr 1.5fr;
    }
}

    @media (min-width: 1080px) {
    .container-productos{
    grid-template-columns: 1fr 1fr 1fr;
    }
    .cart-item{
        height: 30vh;
        display: grid;
        grid-template-columns: 2fr 7fr;
        width: 90%;

    }
    .detail-image{
        margin-left: 80px;
            height: 70vh;
    }
    }
